<div>
    <form #form>
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="fileName" name="filename" type="text" placeholder=" Upload resource">
            <div matPrefix class="fileUpload" style="margin-right:5px;">
                    <span class="glyphicon-btn glyphicon glyphicon-folder-open"></span>
                    <input type="file" #input name="upload" class="upload" (change)="fileChanged()">
            </div>
            <div type="button" matSuffix mat-raised-button color="primary" (click)="upload()" class="upload-btn"><span class="glyphicon-btn glyphicon glyphicon-cloud-upload"></span></div>
            <mat-error *ngIf="!isValidFilename">
                file name is not valid
            </mat-error>
        </mat-form-field>
    </form>
</div>