body {
    margin: 5px 20px;
    color: #646982;
    background: #eeeeee;
    font-size: 16px;
    font-family: Arial;
}

h1 {
    font-size:3em;
    display:inline;
    padding-right:25px;
}

h2 {
    font-size:2em;
    padding-left:3px;
}

button {
    background-color:#ABB8FF;
    border-color:#ABB8FF;
    font-size:1.1em;
}

.break {
    height: 1px;
    border-bottom: 3px solid #646982;
    clear: both;
    margin-bottom: 5px;
}

.item {
    display: inline-block;
    border: 1px solid #646982;
    margin: 4px;
    padding: 3px;
    max-width: 400px
}

.configProperty{
    display:inline-block;
    margin:5px;
    vertical-align:top;
}

.group {
    margin: 5px 0;
    border-bottom: 3px solid #646982;
}

.ng-invalid:not(form) {
    border-color: #f03241;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
}
