@{ 
    Layout = null;
}
<html>
<head>
    <title>Test Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/lib/deeppurple-amber.css" rel="stylesheet" />
    <link rel="stylesheet" href="Assets/styles.bundle.css">
    <base href="/" />
</head>
<!-- 3. Display the application -->
<body>
    <config-server-shell>Loading...</config-server-shell>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
