@{ 
    Layout = null;
}
<html>
<head>
    <title>Test Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="Assets/styles.css">
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="Assets/lib/shim.min.js"></script>
    <script src="Assets/lib/zone.min.js"></script>
    <script src="Assets/lib/system.js"></script>
    <script>
        System.import('Assets/app.js').catch(function(err){ console.error(err); });
    </script>
    <base href="/" />
</head>
<!-- 3. Display the application -->
<body>
    <config-server-shell>Loading...</config-server-shell>
</body>
</html>
