<div class="row">
    <div class="col-sm-6 col-md-4">
        <mat-form-field class="full-width">
            <input matInput id="group-name-input" placeholder="Name" [(ngModel)]="csClientGroup.name">
        </mat-form-field>
        <div *ngIf="csClientGroup.imagePath" class="thumbnail"><img class="img-responsive" src="Resource/ClientGroupImages/{{csClientGroup.imagePath}}" /></div>
        <h4>Upload image:</h4>
        <group-image-file-uploader (onUpload)="onImageUploaded($event)"></group-image-file-uploader>
    </div>
    <div id="group-image-selection-{{image.name}}" class="col-sm-3 col-md-2 group-image-selection" *ngFor="let image of images" (click)="onImageClick(image)">
        <img class="img-responsive" src="Resource/ClientGroupImages/{{image.name}}" />
    </div>
</div>