<group-header [csGroup]="group"></group-header>
<hr />
    <button type="button" mat-raised-button color="primary" (click)="goToSnapshots()">Snapshots</button>
<hr />
<div class="row">
    <div id="client-panel-{{client.clientId}}" class="col-sm-6 col-md-4 client-panel"  *ngFor="let client of clients">
        <div  class="thumbnail">
            <h3 class="client-name">{{client.name}}</h3>
            <p class="client-id">Id: {{client.clientId}}</p>
            <p class="client-enviroment">{{client.enviroment}}</p>
            <p class="client-description">{{client.description}}</p>
            <button id="manage-client-btn-{{client.clientId}}" type="button" mat-raised-button color="primary" (click)="goToClient(client.clientId)">Manage configurations</button>
            <button id="edit-client-btn-{{client.clientId}}" *ngIf="canEditClients" type="button" mat-raised-button color="primary" (click)="editClient(client.clientId)">Edit client</button>
        </div>
    </div>
</div>
<button type="button" mat-raised-button color="primary" (click)="back()">Back</button>