<h3>Resources</h3>
<button type="button" mat-raised-button color="primary" (click)="goToArchive()">Archive</button>
<button type="button" mat-raised-button color="primary" *ngIf="isConfigurator" (click)="gotoCopy()">Copy</button>
<div class="break"></div>
<div class="row">
    <div *ngFor="let resource of resources" class="col-sm-6 col-md-4" >
        <p>{{resource.name}}</p>
        <p>Created:{{resource.timeStamp | date:"MM/dd/yy" }}</p>
        <app-icon-button color="primary" (click)="downloadResource(resource.name)"><span class="glyphicon-btn glyphicon glyphicon-download-alt"></span></app-icon-button>
        <app-icon-button color="warn" (click)="delete(resource.name)"><span class="glyphicon-btn glyphicon glyphicon-trash"></span></app-icon-button>
    </div>
</div>
<hr />
<div class="row" *ngIf="isConfigurator">
    <resource-file-uploader [csClientId]="clientId" (onUpload)="onfileUploaded($event)" class="col-sm-6 col-md-4"> </resource-file-uploader>
</div>